# Godot 4+ specific ignores
.godot/
/android/
.vscode
/build/*
!/build/linux/
/build/linux/*
!/build/linux/.gitkeep
!/build/windows/
/build/windows/*
!/build/windows/.gitkeep
!/build/web/
/build/web/*
!/build/web/.gitkeep
